.map_font {
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600;
  color: #414B5A;
}

.strawberry {
  max-width: 460px;
  max-height: auto;
}

.mapbuttonstyle_pyj {
  width: 147px;
  height: 37px;
  background-color: #FE663F;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 600 !important;
}
.mapbuttonstyle_pyj a {
  text-decoration: none;
  color: #ffffff;
}

.formfont_title_pyj {
  font-family: "Pretendard";
  font-size: 30px;
  font-weight: 700;
  color: #1F2937 !important;
}

.formfont_subtitle_pyj {
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 700;
  color: #1F2937 !important;
}

.formfont_text_pyj {
  font-family: "Pretendard";
  font-size: 16px;
  font-weight: 600;
  color: #1F2937 !important;
}

.formfont_placehold_pyj {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 500;
  color: #414B5A !important;
}

.contents_background_pyj {
  background-color: #FFF4DF;
}

.form_background_pyj {
  width: 500px;
  height: 600px;
  background-color: #fff;
  border-radius: 20px;
}

.input_box_1_pyj {
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  width: 400px;
  height: 33px;
}

.input_box_2_pyj {
  border: 1px solid #cccccc;
  padding: 10px;
  border-radius: 5px;
  width: 130px;
  height: 33px;
}

.formbuttonstyle_pyj {
  width: 400px;
  height: 60px;
  background-color: #FE663F;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 600 !important;
}