@charset "UTF-8";
@media (min-width: 1400px) {
  #hd_yys .gnb_a {
    display: block !important;
  }
}
@media (max-width: 998px) {
  #hd_yys .gnb_a {
    display: none !important;
  }
  #hd_yys .login {
    margin-left: auto !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0;
  }
  #mainbanner_yys .swiper {
    padding: 0;
  }
  #mainbanner_yys .swiper .swiper-slide.swiper-slide-active {
    position: relative;
    transform: scale(1.2) !important;
    z-index: 10000 !important;
    padding: 0 !important;
  }
  #mainbanner_yys .swiper .swiper-pagination {
    padding: 0 !important;
    bottom: unset !important;
  }
  #mainbanner_yys .swiper .swiper-pagination span {
    width: 7px !important;
    height: 6px !important;
    border-radius: 100% !important;
  }
  #mainbanner_yys h1 img {
    transform: scale(0.5);
    min-width: 74px; /* 원하는 너비로 조정 */
    height: auto; /* 이미지의 가로 세로 비율을 유지하면서 크기 조정 */
  }
}
@media (max-width: 500px) {
  #hd_yys .gnb_a {
    display: none !important;
  }
  #hd_yys .login {
    margin-left: auto !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 0;
  }
  #mainbanner_yys .swiper {
    padding: 0 !important;
  }
  #mainbanner_yys .swiper .swiper-pagination {
    padding: 0 !important;
    bottom: unset !important;
  }
  #mainbanner_yys .swiper .swiper-pagination span {
    width: 7px !important;
    height: 6px !important;
    border-radius: 100% !important;
  }
  #mainbanner_yys .swiper .swiper-slide.swiper-slide-active {
    position: relative;
    transform: scale(1) !important;
    z-index: 10000 !important;
    padding: 0 !important;
  }
  #mainbanner_yys h1 img {
    transform: scale(0.5);
    min-width: 74px; /* 원하는 너비로 조정 */
    height: auto; /* 이미지의 가로 세로 비율을 유지하면서 크기 조정 */
  }
}
.flexcenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.d-flex {
  display: flex !important;
}

.jcc {
  justify-content: center !important;
}

.jcb {
  justify-content: space-between !important;
}

.aic {
  align-items: center !important;
}

.rel {
  position: relative !important;
}

.abs {
  position: absolute !important;
}

a {
  text-decoration: none !important;
}

#hd_yys {
  padding: 0 48px;
}
#hd_yys .gnb:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  height: 0;
  transition: 0.5s;
  background-color: #FF6943 !important;
  border-bottom: none !important;
  margin-bottom: 0 !important;
}
#hd_yys .gnb:hover:before {
  height: 190px;
  border-bottom: 1px solid #cc5638 !important;
  transition: height 0.5s;
}
#hd_yys .gnb:hover .gnb_li {
  transition: 0.5s;
  padding: 0 50px;
}
#hd_yys .gnb:hover .gnb_li .gnb_ul {
  height: 184px;
}
#hd_yys .gnb .gnb_li .gnb_ul_li {
  min-width: 300px;
  padding-bottom: 30px;
  text-align: center;
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
#hd_yys .gnb .gnb_a {
  line-height: 100px;
  font-family: "Pretendard";
  font-size: 22px;
  font-weight: 400;
  color: #414B5A;
}
#hd_yys .gnb .gnb_a:hover {
  transition: 0.2s;
  color: #FF6943 !important;
}
#hd_yys .gnb .gnb_ul {
  overflow: hidden;
  height: 0;
  top: 100%;
  margin-top: 30px !important;
  transition: height 0.2s;
  left: -93px;
  text-align: center;
  white-space: nowrap !important;
}
#hd_yys .gnb .gnb_ul:after, #hd_yys .gnb .gnb_ul:before {
  content: "";
  display: block;
}
#hd_yys .gnb .gnb_ul a {
  color: #414B5A;
}
#hd_yys .gnb .gnb_ul a:hover {
  font-family: "Pretendard";
  font-size: 18px;
  font-weight: 400;
  color: #414B5A;
  color: white !important;
}
#hd_yys .font_login {
  font-family: "Pretendard";
  font-size: 14px;
  font-weight: 400;
  color: #414B5A;
  list-style: none;
}
#hd_yys .login a:hover {
  color: #FF6943 !important;
}

#mainbanner_yys {
  max-width: 1920px;
}
#mainbanner_yys .swiper {
  padding: 90px 0 120px 0;
  overflow: hidden;
}
#mainbanner_yys .swiper .swiper-pagination {
  padding: 90px 0 0 0;
  bottom: unset !important;
}
#mainbanner_yys .swiper .swiper-pagination span {
  width: 15px !important;
  height: 14px !important;
  border-radius: 100% !important;
}
#mainbanner_yys .swiper .swiper-slide.swiper-slide-active {
  transform: scale(2.3) !important;
  position: relative !important;
  z-index: 10000 !important;
  padding: 100px 250px !important;
  transition: 1.2s;
}
#mainbanner_yys link {
  list-style: none;
}

#quikBtn {
  position: fixed;
  z-index: 10;
  display: block;
  flex-wrap: nowrap;
  width: auto;
  overflow: visible;
  background: transparent;
  bottom: 24px;
  right: 25px;
}
#quikBtn .or {
  background-color: #cc5638;
  border: unset !important;
}

#ft_yys #snsIcon .iconColor {
  background-color: #983016 !important;
}