// color(웹, 모바일 모두 공통)
$uglyred : #FF2F2F;
$uglyorange : #FE663F;
$uglybrown : #CD8F50;
$uglygreen : #5EAB42;
$uglyblack : #1F2937;
$uglygray : #414B5A;


// 자간+행간
.letter_spacing{
    letter-spacing: -0.5px;
}
.line_height_08{
    line-height: 0.8rem;
}
.line_height_09{
    line-height: 0.9rem;
}
.line_height_1{
    line-height: 1rem;
}
.line_height_125{
    line-height: 1.25rem;
}
.line_height_15{
    line-height: 1.5rem;
}
.line_height_18{
    line-height: 1.8rem;
}
.line_height_25{
    line-height: 2.5rem;
}
.line_height_30 {
    line-height: 3rem;
}
.line_height_40 {
    line-height: 4rem;
}

// border-radius 공통 스타일 (버튼,이미지)
.border-radius{
    border-radius: 20px;
}


// 데스트탑(web) 전용 가이드

// font_style
// k : 한글폰트(pretendard)
// e : 영어폰트(rubik)
.font_navi{
    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 400;
    color: $uglyblack;
}
.font_login{
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 600;
    color: $uglyblack;
}
.font_title_k{
    font-family: 'Pretendard';
    font-size: 38px;
    font-weight: 700;
    color: $uglyorange;
}
.font_title_e{
    font-family: 'Rubik';
    font-size: 38px;
    font-weight: 700;
    color: $uglyorange;
}
.font_subtitle_k{
    font-family: 'Pretendard';
    font-size: 22px;
    font-weight: 700;
    color:$uglygray;
}
.font_subtitle_e{
    font-family: 'Rubik';
    font-size: 22px;
    font-weight: 700;
    color:$uglygray;
}
.font_text{
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 400;
    color:$uglygray;
}
.font_f18bold{
    font-family: 'Pretendard';
    font-size: 18px;
    font-weight: 700;
    color: $uglygray;
}
.font_f14semibold{
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 600;
    color: $uglygray;
}
.font_f13regular_k{
    font-family: 'Pretendard';
    font-size: 13px;
    font-weight: 400;
    color: $uglygray;
}
.font_f13regular_e{
    font-family: 'Rubik';
    font-size: 13px;
    font-weight: 400;
    color: $uglygray;
}
.font_f13bold{
    font-family: 'Pretendard';
    font-size: 13px;
    font-weight: 700;
    color: $uglygray;
}

// 그리드가이드
.section_blank{
    margin-bottom: 220px;
}
.title_blank{
    margin-bottom: 40px;
}
.text_blank{
    margin-bottom: 23px;
}
.contents_L_blank{
    margin-left: 20px;
}
.contents_R_blank{
    margin-right: 20px;
}
.contents_B_blank{
    margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
    .section_blank{
        margin-bottom: 220px;
    }
    .title_blank{
        margin-bottom: 40px;
    }
    .text_blank{
        margin-bottom: 23px;
    }
    .contents_L_blank{
        margin-left: 20px;
    }
    .contents_R_blank{
        margin-right: 20px;
    }
    .contents_B_blank{
        margin-bottom: 20px;
    }
}



// 모바일(mobile) 전용 가이드
// 모바일 관련 css는 전부 앞글자에 m 표기했습니다.

// font_style
// k : 한글폰트(pretendard)
// e : 영어폰트(rubik)
.mfont_20bold_k{
    font-family: 'Pretendard';
    font-size: 20px;
    font-weight: 700;
    color: $uglyorange;
}
.mfont_20bold_e{
    font-family: 'Rubik';
    font-size: 20px;
    font-weight: 700;
    color: $uglyorange;
}
.mfont_16bold{
    font-family: 'Pretendard';
    font-size: 16px;
    font-weight: 700;
    color: $uglyblack;
}
.mfont_14semi{
    font-family: 'Pretendard';
    font-size: 14px;
    font-weight: 500;
    color: $uglygray
}
.mfont_lead12semi{
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 500;
    color: $uglygray
}
.mfont_black12semi{
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 400;
    color: $uglyblack;
}
.mfont_white12semi{
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 400;
    color: #fff
}
.mfont_12regular{
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 300;
    color: $uglygray
}
.mfont_12light{
    font-family: 'Pretendard';
    font-size: 12px;
    font-weight: 200;
    color: $uglygray
}

// 그리드가이드
.msection_blank{
    margin-bottom: 80px;
}
.mcontents_L_blank{
    margin-left: 10px;
}
.mcontents_R_blank{
    margin-right: 10px;
}
.mcontents_B_blank{
    margin-bottom: 10px;
}
@media screen and (max-width: 576px) {
    .msection_blank{
        margin-bottom: 80px;
    }
    .mcontents_L_blank{
        margin-left: 10px;
    }
    .mcontents_R_blank{
        margin-right: 10px;
    }
    .mcontents_B_blank{
        margin-bottom: 10px;
    }
}


// 반응형 br 유사 클래스
// lg 
.lg_block{
    display: block;
}
.lg_none{
    display: none;
}
@media screen and (max-width: 991px) {
    .lg_block{
        display: block;
    }
    .lg_none{
        display: none;
    }
}
// xs
.xs_block{
    display: block;
}
.xs_none{
    display: none;
}
@media screen and (max-width: 576px) {
    .xs_block{
        display: block;
    }
    .xs_none{
        display: none;
    }
}