#hd_yys{
    .nav{
        height: 80px;
    }
    
    .nav_border{
        border-radius: 20px;

    }
    .navbar_yys{
        width: 80%;
        
    }
   .font_f14regular_e{
    font-family: "Pretendard";
    font-size: 14px;
    font-weight: 400;
    color: #414B5A;
   }

   

}

#navbar_yys{
    width: 80%;
    
}