$or-color: #983016;

@media (min-width: 1400px) {
    #hd_yys {
        .gnb_a {
            display: block !important;
        }
    }
}

@media (max-width: 998px) {
    #hd_yys {
        .gnb_a {
            display: none !important;
        }
        .login {
            margin-left: auto !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 0;
        }
    }
    #mainbanner_yys {
        .swiper {
            padding: 0;
            .swiper-slide.swiper-slide-active {
                position: relative;
                transform: scale(1.2) !important;
                z-index: 10000 !important;
                padding: 0 !important;
            }
            .swiper-pagination {
                padding: 0 !important;
                bottom: unset !important;
                span {
                    width: 7px !important;
                    height: 6px !important;
                    border-radius: 100% !important;
                }
            }
        }
        h1 {
            img {
                transform: scale(0.5);
                min-width: 74px; /* 원하는 너비로 조정 */
                height: auto; /* 이미지의 가로 세로 비율을 유지하면서 크기 조정 */
            }
        }
    }
}

@media (max-width: 500px) {
    #hd_yys {
        .gnb_a {
            display: none !important;
        }
        .login {
            margin-left: auto !important;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-right: 0;
        }
    }
    #mainbanner_yys {
        .swiper {
            padding: 0 !important;
            .swiper-pagination {
                padding: 0 !important;
                bottom: unset !important;
                span {
                    width: 7px !important;
                    height: 6px !important;
                    border-radius: 100% !important;
                }
            }
            .swiper-slide.swiper-slide-active {
                position: relative;
                transform: scale(1) !important;
                z-index: 10000 !important;
                padding: 0 !important;
            }
        }
        h1 {
            img {
                transform: scale(0.5);
                min-width: 74px; /* 원하는 너비로 조정 */
                height: auto; /* 이미지의 가로 세로 비율을 유지하면서 크기 조정 */
            }
        }
    }
}

a {
    text-decoration: none !important;
}

#hd_yys {
    position: fixed;

    .nav {
        height: 80px;
    }

    link {
        list-style: none;
    }

    #navbar_yys {
        width: 100%;

        .font_login {
            font-family: "Pretendard";
            font-size: 14px;
            font-weight: 400;
            color: #414B5A;
            list-style: none;
        }

        .login a:hover {
            color: #FF6943 !important;
        }
    }

    h1 {
        a {
            white-space: nowrap !important;
        }
    }

    .gnb {
        &:before {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            height: 0;
            transition: 0.5s;
            background-color: #FF6943 !important;
            border-bottom: none !important;
        }

        &:hover {
            &:before {
                height: 184px;
                border-bottom: 1px solid #cc5638 !important;
                transition: height 0.5s;
            }

            .gnb_li {
                transition: 0.5s;
                padding: 0 50px;
                .gnb_ul {
                    height: 184px;
                    display: block;
                }
            }
        }

        .gnb_li {
            .gnb_ul_li {
                min-width: 300px;
                padding-bottom: 30px;
                text-align: center;
                font-family: "Pretendard";
                font-size: 18px;
                font-weight: 400;
                color: #ffffff;
            }
        }

        .gnb_a {
            font-family: "Pretendard";
            font-size: 22px;
            font-weight: 400;
            color: #414B5A;

            &:hover {
                transition: 0.2s;
                color: #FF6943 !important;
            }
        }

        .gnb_ul {
            display: none;
            overflow: hidden;
            height: 0;
            top: 100%;
            margin-top: 30px !important;
            transition: height 1.2s;
            left: -93px;
            text-align: center;
            white-space: nowrap !important;

            &:after,
            &:before {
                content: "";
                display: block;
                height: 1rem;
            }

            a {
                color: #414B5A;
                &:hover {
                    font-family: "Pretendard";
                    font-size: 18px;
                    font-weight: 400;
                    color: #414B5A;

                    color: white !important;
                }
            }
        }
    }
}

#mainbanner_yys {
    max-width: 1920px;

    .swiper {
        padding: 180px 0 120px 0;
        overflow: hidden;

        .swiper-pagination {
            padding: 90px 0 0 0;
            bottom: unset !important;

            span {
                width: 15px !important;
                height: 14px !important;
                border-radius: 100% !important;
            }
        }

        .swiper-slide.swiper-slide-active {
            transform: scale(2.3) !important;
            position: relative !important;
            z-index: 10000 !important;
            padding: 100px 250px !important;
            transition: 1.2s;
        }
    }

    link {
        list-style: none;
    }
}

// #quick-menu_yys {
//     position: relative;
//     #quikBtn {
//         &::before{background-color: #FF6943 !important;
//             position: fixed;
//             top: 0;
//             right: 0 !important;
//              /* 뷰포트 높이의 50% */
            
//             padding: 30px;
//             box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 효과 */
//             z-index: 99999999; /* 다른 요소 위에 표시되도록 설정 */

//         }
//         &:hover{
//             display: block !important;
//             max-width: 100px;
//             height: 200px;
//             .qIcon_span{
//                 display: block !important;


//             }
//         }
//     }
    

//     .quick-menu.aside {
//         display: none; /* 초기에는 보이지 않도록 설정 */
//     }
// }
// #quick-menu_yys{
//     flex-direction: row-reverse !important;
//     position: relative;
//     padding-right: auto !important;
//     // max-width: 1920px;
    
    
    
//     #quikBtn{
        
//         background-color: #FF6943 !important;
//         position: fixed;
//         height: 0 !important;
//         top: 50vh;
//         overflow: hidden !important;
//     }
//     &:hover{
//         max-height: 50px;
//         border-bottom: 0 0 30px 30px;

//         #quikMenu_in{
//             display: block !important;
        
            
//         }


//     }
//     #quikMenu_in{
//         display: none !important;
//     }
    


      


// }


// 22
// #quik {
//     position: relative;
//     bottom: 2rem;
//     right: 1rem;

//     /* 새로운 내용: 부모 요소에 z-index 추가 */
//     z-index: 10000;

//     #quikBtn {
//         position: fixed ;
//         transform: translateY(.9rem);
//         z-index: 100000 !important;
//         img {
//             height: 5rem;
//         }
//     }
//     #quikMenu {
//         position: fixed;
//         top: 50%; transform: translateY(-50%);
        
//         &::before {
//             content: "";
//             display: block;
//             background: #3D71FF;
//             height: .5rem;
            
//             z-index: 100000 !important;
//         }
//         background: #3D71FF;
//         border-radius: 0 0 3rem 3rem;
//         .qIcon {
//             position: absolute;
//             background: #6A92FE;
//             border-radius: 50%;
//             box-shadow: 3px 3px 3px #00000030;
//             line-height: 1;
//             a {
//                 font-size: 1.7rem;
//                 color: #fff;
//             }
//         }
//     }
    
// }



#quikBtn{
    position: fixed;
    z-index: 10;
    display: block;
    flex-wrap: nowrap;
    width: auto;
    overflow: visible;
    background:transparent;
    bottom:24px;
    right:25px;
    
   .or{
    background-color: #cc5638;
    border: unset !important;
   }
    

    // position: fixed;
    // z-index: 10;
    // display: block;
    // flex-wrap: nowrap;s
    // width:auto;
    // overflow: visible;
    // background: transparent;
    // bottom: 24px;
    // right: 25px;

}

